name: Stubtest and Pyrefly

on:
  push:
    branches: [main]
    paths:
      - "tests/**"
      - "validoopsie/**"
      - ".github/**"
  pull_request:
    paths:
      - "tests/**"
      - "validoopsie/**"

jobs:
  tests:
    strategy:
      matrix:
        python-version: ["3.10", "3.11", "3.12", "3.13"]
        os: ["ubuntu-latest", "windows-latest"]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4

      - name: Install uv
        uses: astral-sh/setup-uv@v5
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install the project
        run: uv sync --dev --upgrade

      # Linter
      - name: Run Ruff
        run: uv run ruff check validoopsie/
        if: matrix.python-version == '3.12' && matrix.os == 'ubuntu-latest'

      # Pyrefly
      - name: Run pyrefly
        run: uv run pyrefly check validoopsie
